<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./localpage1.css">
    <title>GARNAPPI</title>

</head>
<body>


     <main>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">
          <form class="form-inline"></form>
          <img class="logoimg" src="./assets/LogoSample_ByTailorBrands.jpg" alt="Nav Bar Logo">
        </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categoria
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Tortas</a>
                <a class="dropdown-item" href="#">Quesadillas</a>
                <a class="dropdown-item" href="#">Gorditas</a>
                <a class="dropdown-item" href="#">Tacos</a>
                <a class="dropdown-item" href="#">Pambazos</a>
                <a class="dropdown-item" href="#">Flautas</a>
                <a class="dropdown-item" href="#">Tlacoyos</a>
              </div>
            </li>
            <li class="nav-item dropdown form-inline">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Registro
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="formularioL.html">Locatario</a>
                <a class="dropdown-item" href="formularioG.html">Garnachero</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
          </ul>
          <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-3" type="search" placeholder="Busqueda en la pagína"aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
      </header>
  





      <section class="row justify-content-center justify-content-md-around my-4">
        <div class="imagenesTop" >
            <div> 
            <img clas="img1" height="200px" src="https://blog.xcaret.com/es/wp-content/uploads/2019/04/tacs-1200x640.jpg">
            </div>

            <div> 
            <img class="img2" height="200px" src="https://culto.latercera.com/wp-content/uploads/2019/07/cro%CC%81nicas-del-taco-netflix-culto-900x600.jpg">
            </div>

            <div> 
            <img class="img2" height="200px" src="https://i.pinimg.com/originals/5e/4f/a7/5e4fa7dc5f353155a40dd83c635cce8d.jpg">
            </div>
          </section>

        </div>

            
        <section class="row justify-content-center justify-content-md-around my-4">
            <div class="card">

                    <div class="card-body" class="row font-size my-3 "  >
                      <h4 class="card-title" style="font-size: 100px;">TACOS </br> EL GUERO</h4>
                      <p class="card-text">Negocio local de tacos tradicionales </br> de pastor, suadero, lengua y más.</p>
                    </div>
                    <ul class="list-group list-group-flush" style="width: 955px">
                      <li class="list-group-item"><label class="dato" style="font-size: 45pt;" > Dirección: </label> Avenida Álvaro Obregón 186, Col Roma Norte. CDMX.</li>
                      <li class="list-group-item"><label class="dato" style="font-size: 45pt;" >Horario:</label> 16:00 hrs a 05:00 hrs</li>
                      <li class="list-group-item"><label class="dato" style="font-size: 45pt;;">Rango de precio:</label> $$</li>
                    </ul>
                  </div>
                </section>

                
                  <section class="parrafo1">
                  <p>
                    Ubicados en el corazón de la Colonia Roma,
                    la taquería "El Guero" ofrece una gran opción para los amantes de la comida más distintiva de la Ciudad de México.
                  </p>
                </section>

                <section class="caritas" >

                    <div>
                        <button id="cara1" type="button" class="cara1" ><img class="face3" width="150px"  src="https://c7.uihere.com/icons/429/842/378/sad-face-9692828b7aa7efc9c46c2a4f070feb24.png">
                        </button>
                      </div>
                 
                  <div>
                      <button id="cara1" class="cara1"  >
                      <img class="face2"  width="200px" src="https://cdn4.iconfinder.com/data/icons/emotion-17/100/emo32-512.png">
                    </button>
                    </div>
                 
                  <div>
                      <button id="cara1" class="cara1" style="background-color: rgb(20, 251, 20); border-radius: 50%;" >
                      <img class="face1" width="150px" src ="https://images.vexels.com/media/users/3/134787/isolated/preview/985cb8e7ee68e1bf319d875384c39bbc-smile-emoji-emoticon-by-vexels.png"  >
                    </button>
                    </div>
                  
                </section>


                <section class="comments" style="font-size: 45pt; margin: 15px; margin-top: 5px;">
                  
                  <div class="form-group">
                    <label>¿Qué te pareció este lugar?</label>
                    <textarea class="form-control" style="font-size: 35pt; color:  rgb(255, 21, 111); ;" name="" id="" rows="3">Déjanos tu opinión</textarea>
                    <button> Enviar</button>
                  </div>

                </section>

                
                  
     </main>

   

     <script src="localpage.js"></script>
    
</body>
</html>