.parrafo1{
    margin: 0 50px;
    /* border: rgb(255, 21, 111) solid 4px; */

    /* rgb(255, 209, 4); */
    
}
.texto1 {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    border: rgba(255, 217, 0, 0.945) solid 5px ;
    background-color: rgb(255, 209, 4);;

}
.datocurioso{
    font-family: sans-serif;
    font-style: italic;
    border: rgba(255, 217, 0, 0.945) solid 5px ;
    background-color: rgb(255, 209, 4);;
}
.textopri{
    text-align: center;
    font-family: fantasy;
    border: rgb(255, 21, 111) solid 4px;
    width: 100%;
   background-color: rgb(255, 21, 111);
 }
.imgacm{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.logoimg{
    width: 60px;
 }

​
 
   /* Cards */
​
​
.customCard {
    border-radius: 0 !important;
    background-color: rgb(255, 209, 4) !important;
    caret-color: #fff !important;
    border: solid 1px #fff !important;
    
}

